.noSelect {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.ui-icon-action:after,
.ui-icon-back:after,
.ui-icon-carat-d:after,
.ui-icon-carat-l:after,
.ui-icon-carat-r:after,
.ui-icon-carat-u:after,
.ui-icon-check:after,
.ui-icon-delete:after,
.ui-icon-edit:after,
.ui-icon-gear:after,
.ui-icon-home:after,
.ui-icon-radio:after,
.ui-icon-user:after,
.ui-icon-search:after {
    content: "";
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}
