<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>ReleaseNote</title>
<style>
body {
    font-size: 12px;
}
.title {
    font-size: 14px;
    font-weight: bold;
    color: #4094ff;
}
.ymd {
    font-weight: bold;
    color: #10af34;
}
</style>
</head>
<body>
<span class="title">リリースノート</span>
<br />
<br /><span class="ymd">2014/02/10</span>
<br />・URL変更
<br />　　・ここにいる（PC） → ./
<br />　　・ここにいる（スマホ） → ./mobile
<br />　　・裏行先（F1用） → ./!
<br />
<br /><span class="ymd">2014/02/06</span>
<br />・検索結果20件以上のときスクロールが下までいったら追加表示
<br />・スマホ版地図表示追加（safariで動作不具合あり）
<br />・リリースノート自動表示廃止
<br />
<br /><span class="ymd">2014/02/03</span>
<br />・データ更新
<br />
<br /><span class="ymd">2014/01/31</span>
<br />・Touch対応（PC版）
<br />　　・部署選択などの仕様を変更
<br />
<br /><span class="ymd">2014/01/28</span>
<br />・サイト分割（テスト中）
<br />・アイコンをSVGに変更
<br />
<br /><span class="ymd">2014/01/06</span>
<br />・データ更新
<br />
<br /><span class="ymd">2013/12/17</span>
<br />・ソート機能追加（社員番号、かな）
<br />
<br /><span class="ymd">2013/12/16</span>
<br />・アニメーションの追加（編集、座席）
<br />
<br /><span class="ymd">2013/12/05</span>
<br />・座席ボタンのマウスオーバーで座席表示
<br />
<br /><span class="ymd">2013/12/04</span>
<br />・IEキャッシュ対応
<br />　　・Ajax呼び出し（XMLHttpRequest）をPOSTに変更
<br />・データ更新
<br />
<br /><span class="ymd">2013/11/29</span>
<br />・バックグラウンドサービスを変更
<br />　　・IISと.NETを廃止 ⇒ Play＋Scala
<br />・コンテンツのURL変更（座席表示など）
<br />
<br /><span class="ymd">2013/11/22</span>
<br />・挙動の微修正
<br />
<br /><span class="ymd">2013/11/01</span>
<br />・システム名変更
<br />・データ更新
<br />
<br /><span class="ymd">2013/10/01</span>
<br />・データ更新
<br />
<br /><span class="ymd">2013/09/03</span>
<br />・データ更新
<br />
<br /><span class="ymd">2013/08/02</span>
<br />・データ更新
<br />
<br /><span class="ymd">2013/06/04</span>
<br />・データ更新
<br />
<br /><span class="ymd">2013/05/02</span>
<br />・データ更新
<br />
<br /><span class="ymd">2013/04/10</span>
<br />・ステータスの変更時刻を表示
<br />　　・項目追加より後に更新されていない場合は表示されません
<br />・「自動更新ツール」の設定メニュー内に実行履歴を表示
<br />　　・自動更新された履歴がない場合は表示されません
<br />
<br /><span class="ymd">2013/04/09</span>
<br />・「自動更新ツール」を追加
<br />　　・右上の設定メニューから
<br />　　・最初は「使い方を見る」を押してください
<br />
<br /><span class="ymd">2013/04/01</span>
<br />・リリースノートの表示方法変更
<br />・初回やバージョンアップ時はリリースノート表示
<br />・更新の取り消しボタンを追加
<br />　　・更新前の状態を一時的に保持しておくだけ
<br />　　・DBに履歴は無い
<br />・更新時の確認メッセージはデフォルトで「表示しない」に
<br />・Paste時に編集 or そのまま更新を選べるように
<br />　　・デフォルトは「Paste+更新」に
<br />・プレースホルダのバグ修正
<br />・名簿データの取得元変更
<br />　　・専用のデータを用意するように
<br />
<br /><span class="ymd">2013/03/27</span>
<br />・見た目大幅変更
<br />・検索機能追加
<br />・名前とか部署とか社員番号のLIKE検索
<br />　　・部署コードは完全一致検索
<br />　　・半角または全角スペースでAND検索
<br />・編集ボタンの復活（行クリックで編集は廃止）
<br />・直接ステータス変更ボタンの仕様変更
<br />　　・「社内」と「帰宅」のみ直接変更可能
<br />　　・「外出」と「休暇」は編集時のみ選択可
<br />・コピー、ペーストの仕様変更
<br />・テキストボックスに×ボタンとプレースホルダ追加
<br />　　・×ボタン → IE10はネイティブ
<br />　　・プレースホルダ → ChromeとIE10はネイティブ
<br />・暫定で座席ボタン追加
<br />
<br />
<br /><span class="title">このサイトの概要</span>
<br />「行き先ボード」ではできなかったことをやってみた
<br />
<br />
<br /><span class="title">対応ブラウザ</span>
<br />Chrome：推奨
<br />IE8～11：動作確認
<br />その他：未サポート、特にIE6は無理
<br />
<br />
<br /><span class="title">不具合報告</span>
<br />こちらにお願いします　→　n2817@@ndensan.co.jp
<br />
<br />
<br />
<br />
<br />
</body>
</html>
